  <launch>
	<rosparam subst_value="True">

  inertial_sense_node: { port: "/dev/ttyACM0",
                           baud: 921600,
                           navigation_dt_ms: 10,
                           stream_INS: true,
                           stream_IMU: true,
                           stream_GPS: true,
                           stream_GPS_info: true,
                           stream_baro: false,
                           stream_mag: false,
                           stream_preint_IMU: false,
                           inclination: 1.14878541071,
                           declination: 0.20007290992,
                           dynamic_model: 8,
                           INS_rpy: [1.5708, 0 0],
                           INS_xyz: [1, 0, 0],
                           GPS_ant_xyz: [1, 1, 1],
                           GPS_ref_lla: [40.25, -111.67, 1556.59],
                           serial1_baud_rate: 115200,
                           NMEA_rate: 200,
                           NMEA_configuration: 0x0F,
                           NMEA_ports: 0x02
                         }
    </rosparam>
	<node name="inertial_sense_node" pkg="inertial_sense" type="inertial_sense_node" output="screen"/>
</launch>
